finnhub-python>=2.4.18
django>=4.1.12
gunicorn~=21.2.0
python-dotenv>=1.0.0
whitenoise
django-admin-material-dashboard==1.0.10


# psycopg2-binary
# mysqlclient

pip~=23.3
wheel~=0.37.1
setuptools~=65.5.0
asgiref~=3.7.2
sqlparse~=0.4.4
requests~=2.31.0
packaging~=23.1
platformdirs~=3.10.0
django-allauth~=0.58.2